{% block sw_profile_index_additional_settings %}
<div class="sw-profile-index-additional-settings">
    test

{#    <sw-checkbox-field#}
{#        v-model="field._searchable"#}
{#        :label="$tc(`sw-profile.tabAdditionalSettings.checkBackendWarning`)"#}
{#        :disabled="!searchPreference._searchable"#}
{#    />#}
</div>

{% endblock %}
